/* Basic */
*, ::after, ::before {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-image: url("data:image/svg+xml,%3Csvg class='canvas' viewBox='0 0 1920 1080' preserveAspectRatio='xMaxYMid slice' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs'%3E%3Crect width='1920' height='1080' fill='hsl(301, 65%25, 15%25)'%3E%3C/rect%3E%3Cdefs%3E%3ClinearGradient x1='0.5' y1='0' x2='0' y2='1' id='SvgjsLinearGradient1000'%3E%3Cstop stop-color='%238a2889' offset='0'%3E%3C/stop%3E%3Cstop stop-color='%23140606' offset='0.1'%3E%3C/stop%3E%3C/linearGradient%3E%3ClinearGradient x1='0.5' y1='0' x2='0' y2='1' id='SvgjsLinearGradient1001'%3E%3Cstop stop-color='%2378288a' offset='0'%3E%3C/stop%3E%3Cstop stop-color='%23140608' offset='0.22857142857142856'%3E%3C/stop%3E%3C/linearGradient%3E%3ClinearGradient x1='0.5' y1='0' x2='0' y2='1' id='SvgjsLinearGradient1002'%3E%3Cstop stop-color='%238a2875' offset='0'%3E%3C/stop%3E%3Cstop stop-color='%23140906' offset='0.3571428571428571'%3E%3C/stop%3E%3C/linearGradient%3E%3ClinearGradient x1='0.5' y1='0' x2='0' y2='1' id='SvgjsLinearGradient1003'%3E%3Cstop stop-color='%23e8c0f2' offset='0'%3E%3C/stop%3E%3Cstop stop-color='%23d7425d' offset='0.48571428571428565'%3E%3C/stop%3E%3C/linearGradient%3E%3ClinearGradient x1='0.5' y1='0' x2='0' y2='1' id='SvgjsLinearGradient1004'%3E%3Cstop stop-color='%23f2c0dd' offset='0'%3E%3C/stop%3E%3Cstop stop-color='%23d78042' offset='0.6142857142857142'%3E%3C/stop%3E%3C/linearGradient%3E%3ClinearGradient x1='0.5' y1='0' x2='0' y2='1' id='SvgjsLinearGradient1005'%3E%3Cstop stop-color='%23f2c0e7' offset='0'%3E%3C/stop%3E%3Cstop stop-color='%23d76242' offset='0.7428571428571429'%3E%3C/stop%3E%3C/linearGradient%3E%3ClinearGradient x1='0.5' y1='0' x2='0' y2='1' id='SvgjsLinearGradient1006'%3E%3Cstop stop-color='%23f2c0dd' offset='0'%3E%3C/stop%3E%3Cstop stop-color='%23d78042' offset='0.8714285714285713'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M0,-584.2312280360605C66.4100197479651,-569.0444754515128,268.4111145449824,-528.8078451529892,398.46011848779057,-493.11071252877366C528.5091224305987,-457.41357990455816,657.1659809710108,-414.03848588402707,780.294023656849,-370.0484322907675C903.4220663426873,-326.0583786975079,1007.4647154007007,-260.6936314659507,1137.2283746028202,-229.1703909692161C1266.9920338049396,-197.6471504724815,1428.414041303369,-211.73218313255256,1558.8759788695656,-180.90898931035997C1689.3379164357623,-150.08579548816738,1859.8126631449277,-67.01085491511046,1920,-44.231228036060564L 1920 1080 L 0 1080 Z' fill='url(&quot;%23SvgjsLinearGradient1000&quot;)'%3E%3C/path%3E%3Cpath d='M0,-370.054515066116C83.03547402168705,-350.4757242496689,333.587190175346,-301.3970655467702,498.21284413012233,-252.58177016743346C662.8384980848987,-203.76647478809673,832.9614095613467,-122.28975034042898,987.7539237286578,-77.16274279009559C1142.546437895969,-32.0357352397622,1271.5935830887647,-25.385381867048743,1426.9679291339885,18.180275134566905C1582.3422751792123,61.74593213618255,1837.827988188998,156.55604520542641,1920,184.23119921959832L 1920 1080 L 0 1080 Z' fill='url(&quot;%23SvgjsLinearGradient1001&quot;)'%3E%3C/path%3E%3Cpath d='M0,-247.92750157365725C47.041116360449394,-228.06542686524398,194.22072711446282,-150.19870118452863,282.24669816269636,-128.75505332317758C370.2726692109299,-107.31140546182652,435.98752491254055,-144.42259701668402,528.1558262894014,-119.2656144055509C620.3241276662621,-94.10863179441778,746.0348778711067,-13.902035361816381,835.2565064238612,22.186842343621166C924.4781349766157,58.27572004905871,972.1337461858175,69.30235631449041,1063.4855976059282,97.26765182707439C1154.837449026039,125.23294733965837,1290.8172989866603,172.66476119162806,1383.367614944526,189.97861541912502C1475.9179309023916,207.29246964662198,1529.348762510543,179.37322526228184,1618.787493353122,201.1507771920562C1708.226224195701,222.9283291218306,1869.7979155588537,300.72840203015215,1920,320.64392699777136L 1920 1080 L 0 1080 Z' fill='url(&quot;%23SvgjsLinearGradient1002&quot;)'%3E%3C/path%3E%3Cpath d='M0,-146.01004208476863C65.80174580011015,-128.64245346563195,261.3434314137844,-74.63026398779604,394.8104748006609,-41.804510369948446C528.2775181875375,-8.978756752100843,669.7010962064678,3.4632266341112086,800.8022603212589,50.944479622317004C931.90342443605,98.4257326105228,1057.3628995551474,201.07306497931137,1181.4174594894075,243.08300755928633C1305.4720194236677,285.0929501392613,1422.032529841721,270.7101195666521,1545.1296199268197,303.0041351021668C1668.2267100119184,335.2981506376815,1857.5216033211366,414.5399398273397,1920,436.8471007723743L 1920 1080 L 0 1080 Z' fill='url(&quot;%23SvgjsLinearGradient1003&quot;)'%3E%3C/path%3E%3Cpath d='M0,-31.84149237775074C51.5669965010085,-5.136690185786932,194.05686202404883,85.58975808484001,309.40197900605096,128.3873207740321C424.7470959880531,171.1848834632242,591.1906225156981,205.42885426510338,692.070701892013,224.94388375740178C792.9507812683278,244.45891324970017,826.1971438801598,212.87560985897807,914.68245526394,245.47749772782254C1003.1677666477202,278.079385596667,1102.1012004281129,378.0837654596425,1222.9825701946938,420.55521097046864C1343.8639399612748,463.02665648129476,1523.8011022292083,476.18181182700647,1639.9706738634259,500.3061707927794C1756.1402454976435,524.4305297585524,1873.3284456439044,554.4688324363852,1920,565.3013647651064L 1920 1080 L 0 1080 Z' fill='url(&quot;%23SvgjsLinearGradient1004&quot;)'%3E%3C/path%3E%3Cpath d='M0,145.33844588584884C51.851696606511005,171.24402138900751,211.3268885845207,267.59680551307014,311.110179639066,300.77189890480093C410.89347069361133,333.94699229653173,499.4239626334886,327.00800937562065,598.6997463272719,344.3890062362336C697.9755300210552,361.7700030968466,799.7353869144496,376.9542667993483,906.7648818017658,405.05788006847894C1013.794376689082,433.16149333760956,1119.8332374079591,476.1293043274442,1240.876715651169,513.0106858510175C1361.9201938943788,549.8920673745907,1519.838537202886,585.7201139660183,1633.0257512610247,626.3461692099188C1746.2129653191632,666.9722244538193,1872.1709585435042,735.0302092970034,1920,756.7670173144203L 1920 1080 L 0 1080 Z' fill='url(&quot;%23SvgjsLinearGradient1005&quot;)'%3E%3C/path%3E%3Cpath d='M0,251.09369658916273C57.2061028510526,270.6053707526079,241.33400743536475,334.299415908803,343.2366171063156,368.1637415698336C445.1392267772664,402.02806723086417,516.3025391674162,418.94936987879566,611.4156580257048,454.2796505553464C706.5287768839935,489.6099312318971,806.9246647198449,544.4347321179409,913.9153302560478,580.1454256291381C1020.9059957922507,615.8561191403353,1140.1666098571727,635.3984685213092,1253.3596512429222,668.5438116225296C1366.5526926286716,701.68915472375,1481.966853777698,744.306789122974,1593.0735785705442,779.0174842364605C1704.1803033633905,813.728179349947,1865.5122630950907,860.5095659589505,1920,876.8079823034485L 1920 1080 L 0 1080 Z' fill='url(&quot;%23SvgjsLinearGradient1006&quot;)'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
}


/* The Game */

.game {
  width: 80%;
  margin: 0 auto;
}

.card-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 2rem;
  list-style: none;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(79, 34, 79, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  color: rgba(255, 255, 255, 0.8);
}

.card-box__item {
  width: 7.5vw;
  height: 10vw;
  display: flex;
  margin: 1vw;
  perspective: 1000px;
  transform-style: preserve-3d;
  cursor: pointer;
  transition: transform 600ms;
  position: relative;
}

.card-box__item-front,
.card-box__item-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-box__item-front {
  background-image: url(./img/card-game.svg);
  background-repeat: no-repeat;
}

.card-box__item-back {
  transform: rotateY(180deg);
  background-color: #ebf0d0;
  border-radius: 1vw;
  box-shadow: 1px 1px 2px #830007;
}

.card-box__back-img {
  max-width: 90%;
  max-height: 90%;
}

.flipped {
  transform: rotateY(180deg);
}

.score {
  margin: 2rem;
  margin-right: 10%;
  text-align: right;
  font-size: 2rem;
  color: #ebf0d0;
}

/* The modal */

.modal {
  width: 60%;
  margin: 0 auto;
  padding: 2rem;
  backdrop-filter: blur(1rem) saturate(180%);
  -webkit-backdrop-filter: blur(1rem) saturate(180%);
  background-color: rgba(79, 34, 79, 0.75);
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.3;
}

.modal__welcome,
.modal__form,
.modal__game-over {
  margin-bottom: 1.5rem;
}

.modal__title {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

#num {
  padding: 0.2rem 0.5rem;
  margin-left: 0.5rem;
}

.btn {
  display: block;
  margin: 1.8rem auto;
  padding: 1.5rem 2rem;
  text-decoration: none;
  border-radius: 1rem;
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(2rem);
  color: rgba(255,255,255,0.8);
  font-size: 1rem;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}
.btn:hover {
  background-color: rgba(255,255,255,0.2);
}

.modal__score {
  font-size: 1.5rem;
  font-weight: bold;
}

.modal__table-score {
  width: 80%;
  margin: 1.5rem auto;
  text-align: center;
  border-spacing: 0;
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 1rem;
  background-color: rgba(255,255,255,0.1);
}

.modal__table-score td {
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding: 0.75rem;
}

.modal__table-score th {
  padding: 1rem;
  color: rgba(79, 34, 79, 0.75);
  font-size: 1.3rem;
  background-color: rgba(255,255,255,0.8);
}

@media screen and (max-width: 1000px) {
  .game {
    width: 100%;
  }

  .modal {
    width: 80%;
  }

  .card-box__item {
    width: 11.25vw;
    height: 15vw;
  }
}

@media screen and (max-width: 500px) {
  .modal {
    top: 1%;
    width: 98%;
  }
  .card-box__item {
    width: 15vw;
    height: 20vw;
  }
}
